# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

* List popular languages for Data Science
* list popular libraries
* List popular tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala 
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scipy
4. Matplotlip

| Data Science Tools|
|-------------------|
| RStudio |
| Jupyter Notebook |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes / 60

3.3333333333333335

## Author
Wael Alraddadi